.detail {
  position: relative;
  padding-bottom: 1.2rem;
  background-color: #fff;
  .title-nav {
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
    .title-left {
      width: 0.78rem;
      height: 0.36rem;
      background-image: url("@/assets/icon/title-left.png");
      background-size: cover;
    }
    .title-right {
      width: 0.78rem;
      height: 0.36rem;
      background-image: url("@/assets/icon/title-right.png");
      background-size: cover;
    }
    strong {
      margin: 0 0.24rem;
      color: #333;
      font-size: 0.4rem;
      font-weight: 600;
      line-height: 0.5rem;
    }
  }
  button {
    position: absolute;
    left: 10px;
    top: 170px;
    z-index: 100;
  }
}
